body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: azure;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 100px;
    background-color: rgba(205, 243, 231, 0.733);
    width: 300px;
    height: 150px;
    position: relative;
}

button {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    background-color: rgba(160, 241, 241, 0.771);
    cursor: pointer;
}
button:hover {
    background-color: rgba(99, 227, 244, 0.797);
}

.current-time {
    margin-top: 200px;
    text-align: center;
    position: absolute;
}